/* Custom Right-click Context menu styling */		
    .context-menu { 
			position: absolute; 
			text-align: left; 
			background: #fafafa; 
      font-family: Segoe UI, Arial, Calibri, Verdana;
      font-size: 14px;
		} 

		.context-menu ul { 
			padding: 0px; 
			margin: 0px; 
			min-width: 150px; 
			list-style: none;
		} 

		.context-menu ul li { 
			padding-bottom: 3px; 
			padding-top: 3px; 
      padding-left: 12px; 
			padding-right: 7px; 
			border: 1px solid #575757; 
      margin-top: -1px;
		} 

		.context-menu ul li a { 
			text-decoration: none; 
			color: black; 
		}  

		.context-menu ul li:hover { 
			background-color: #c7c7c7; 
      color: white;
		} 
